<nav-bar></nav-bar>
<p></p>
<div class="col-sm-8 col-sm-offset-2" style="text-align: center">
  <div class='md-padding'>
    <md-card ng-repeat="action in vm.actions">
      <div class="custom-card" ng-if="action.key == 'query_wikidata'">
        <md-card-content>
          <h2>{{action.name}}</h2>
          <p>{{action.description}}</p>
          <div class="input-group" style="width: 40%; margin-left: auto;margin-right: auto; text-align: center !important;">
            <span class="input-group-addon" style="width: 20%;">Search Query</span>
            <input type="text" class="form-control" ng-model="vm.query">
          </div>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="center">
          <button type="button" class="btn btn-success" ng-click="vm.queryWikidata($event)">Search</button>
        </div>
      </div>
    </md-card>
  </div>
</div>