<nav-bar></nav-bar>
<p></p>

<div ng-controller="QueryWikidataController">
    <div style="white-space:pre;overflow:auto;width:100%;padding:10px;">
    <h3 style="text-align: center">IOS Active subscriptions</h3>
    <table class="table table-striped table-condensed table-hover" style="width:98%;">
        <thead>
            <tr>
                <th class="created_at" ng-click="sort_by(order)" custom-sort order="'created_at'" sort="sort">#Created at</th>
                <th class="updated_at">Updated at</th>
                <th class="user_id">User ID</th>
                <th class="app_domain">App Domain</th>
                <th class="order_id">Order ID</th>             
                <th class="original_purchase_date">Original Purchase Date</th>
                <th class="purchase_date">Purchase Date</th>         
                <th class="expiration_date">Expiration Date</th>       
                <th class="client">Client</th>                
                <th class="cancellation_date">Cancellation Date</th>     
                <th class="purchase_state">Purchase State</th>        
                <th class="product_id">Product ID</th>            
                <th class="purchase_id">Purchase ID</th>
            </tr>
        </thead>
        <!--<pre>Config : {{config|json}}</pre>-->
        <tbody>
            <tr ng-click="redirectUrl(item.user_id)" ng-repeat="item in recentSubscriptions | orderBy:sort.sortingOrder:sort.reverse">
                <td>{{item.created_at}}</td>
                <td>{{item.updated_at}}</td>
                <td>{{item.user_id}}</td>
                <td>{{item.app_domain}}</td>
                <td>{{item.order_id}}</td>
                <td>{{item.original_purchase_date}}</td>
                <td>{{item.purchase_date}}</td>
                <td>{{item.expiration_date}}</td>
                <td>{{item.client}}</td>
                <td>{{item.cancellation_date}}</td>
                <td>{{item.purchase_state}}</td>
                <td>{{item.product_id}}</td>
                <td>{{item.purchase_id}}</td>
            </tr>
        </tbody>
        
    </table>
    </div>
    <div style="text-align: center">
        <div class="pagination">
            <ul>
                <li ng-class="{disabled: currentPage == 0}">
                    <a href ng-click="prevPage()">« Prev</a>
                </li>

                <li ng-class="{active}">
                    <a href ng-bind="currentPage + 1">1</a>
                </li>

                <li ng-class="{disabled: next_end == true}">
                    <a href ng-click="nextPage()">Next »</a>
                </li>
            </ul>
        </div>
    </div>
</div>
